body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
}

header {
    background-color: #333;
    color: #fff;
    padding: 10px;
    text-align: center;
}

.container {
    Max-Height: 400px;
    Overflow-y: auto;
}

.dashboard {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}

.card {
    background-color: #fff;
    padding: 20px;
    margin: 20px;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    flex: 1;
    min-width: 300px;
}

h2 {
    color: #333;
}

footer {
    background-color: #333;
    color: #fff;
    text-align: center;
    padding: 10px;
    position: fixed;
    bottom: 0;
    width: 100%;
}


table {
    width: 100%;
    border-collapse: collapse;
    margin-bottom: 20px;
    background-color: #fff;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

thead {
    background-color: #333;
    color: #fff;
}

th, td {
    border: 1px solid #ddd;
    padding: 12px;
    text-align: left;
}

td {
    background-color: #f9f9f9;
}

.logout-button {
    background-color: #e74c3c;
    color: #fff;
    padding: 10px;
    text-align: center;
    text-decoration: none;
    border-radius: 4px;
    margin-top: 10px;
    display: inline-block;
    transition: background-color 0.3s;
}

.logout-button:hover {
    background-color: #c0392b;
}


a.back-to-dashboard {
    display: inline-block;
    margin-top: 10px;
    padding: 10px;
    background-color: #3498db;
    color: #fff;
    text-decoration: none;
    border-radius: 4px;
    transition: background-color 0.3s;
}

a.back-to-dashboard:hover {
    background-color: #2980b9;
}
