/* Common Styles */
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
}

header {
    background-color: #333;
    color: #fff;
    padding: 10px;
    text-align: center;
    padding-top: 5px;
    padding-bottom: 5px;

}

.container {
    Max-Height: 400px;
    Overflow-y: auto;
}

footer {
    background-color: #333;
    color: #fff;
    text-align: center;
    padding: 2px;
    position: fixed;
    bottom: 0;
    width: 100%;
}

/* New Enrollment Page Styles */
form {
    background-color: #fff;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

label {
    display: block;
    margin-bottom: 8px;
}

input,
select {
    width: 100%;
    padding: 10px;
    margin-bottom: 16px;
    border: 1px solid #ccc;
    border-radius: 4px;
}

button {
    background-color: #333;
    color: #fff;
    padding: 10px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

button:hover {
    background-color: #555;
}

/* View Enrollments Page Styles */
table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 20px;
    overflow: auto;
}

th,
td {
    border: 1px solid #ddd;
    padding: 8px;
    text-align: left;
}

th {
    background-color: #f2f2f2;
    position: sticky;
    top: 0;
    z-index: 2;
}

.table-container {
    max-height: 400px;
    /* Set the maximum height for the table container */
    overflow: auto;
    /* Enable vertical scrolling if the content overflows the container */
}

/* Responsive Styles */
@media (max-width: 768px) {
    .container {
        width: 90%;
    }

    form {
        width: 100%;
    }
}

/* Dashboard page Styles */




.dashboard {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}

.card {
    background-color: #fff;
    padding: 20px;
    margin: 20px;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    flex: 1;
    min-width: 300px;
}

h2 {
    color: #333;
}

p {
    color: #666;
}

footer {
    background-color: #333;
    color: #fff;
    text-align: center;
    padding: 10px;
    position: fixed;
    bottom: 0;
    width: 100%;
}

/* My Courses page Styles */
.course-list {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

.course {
    background-color: #fff;
    padding: 20px;
    margin: 20px;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    flex: 1;
    min-width: 300px;
    text-align: center;
}

h2 {
    color: #333;
}

p {
    color: #666;
}



/* back button*/

.back-button {
    background-color: #333;
    color: #fff;
    padding: 10px 15px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    text-decoration: none;
    display: inline-block;
    margin-top: 10px;
}

.back-button:hover {
    background-color: #2980b9;
}

.logout-button {
    background-color: #e74c3c;
    color: #fff;
    padding: 10px;
    text-align: center;
    text-decoration: none;
    border-radius: 4px;
    margin-top: 10px;
    display: inline-block;
    transition: background-color 0.3s;
}

.logout-button:hover {
    background-color: #c0392b;
}

a.back-to-dashboard {
    display: inline-block;
    margin-top: 10px;
    padding: 10px;
    background-color: #3498db;
    color: #fff;
    text-decoration: none;
    border-radius: 4px;
    transition: background-color 0.3s;
}

a.back-to-dashboard:hover {
    background-color: #2980b9;
}